#projsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  place-items: center;
  overflow-y: auto;
  max-height: 100vh;
}

#proj {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 400px;
  color: black;
  justify-content: flex-start;
  background-color: #244855;
  color: #FBE9D0;
}

section img, section video {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 8px;
  border: solid 2px black;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#ProjInfo ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#ProjInfo ul li {
  margin: 5px 0;
}

#ProjInfo {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-direction: row;
  font-size: 0.75em;
}

#mini-header {
  font-weight: bold;
}

#ProjInfo p {
  font-size: 1.2em;
}

li:hover {
  box-shadow: 
    inset 0 0 0 transparent, 
    inset 0 0 0 transparent, 
    inset 0 0 0 transparent, 
    inset 0 0 0 transparent, 
    0 0 20px silver;
  color: white;
	background-color: #E64833;
  cursor: pointer;
}
