#skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(20px);
  place-items: center;
  height: 98%;
  width: 100%;
}

.language-framework-logo{
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #244855;
  border: 6px solid black;
  border-radius: 25%;
}

.language-framework-logo:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.language-framework-logo:hover::after {
  content: attr(title);
}